body{
    background-color: black;
    color: #fff;
    margin: 0;
}
.header{
    background-color:#ddaf34;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    height: 50px;
    box-shadow: 0px 2px 7px #3a383f;

}



.logo {

    display: flex;
    align-items: center;

}
.logo img {
     height: 50px;
     margin-left: 30px ;
}
.menu-section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
}
.menu-section li{
    list-style: none;
    display: flex;
    justify-content: center;

}
.menu-section li a{
    color: black;
text-transform: capitalize;
text-decoration: none;
display: inline-block;
padding: 8px 20px;
position: relative;
font-size: 1rem;
}
.menu-section li a:after{
    bottom: 0;
    content: '';
    display: block; 
    height: 1.5px;
    left: 50%;
    position: absolute;
    background: black ;
    transition: width 0.3s ease, left 0.3 ease 0s;
    width: 0;
}
.menu-section li a:hover:after{
width: 100%;
left: 0;

}

.Panier-section{
    display: flex;
    align-items: right;
    position: relative;
    justify-self: center;
}
.Panier-section i{
    font-size: 1.5rem;
    cursor: pointer;
    align-content: center;
}
.Panier-section .Panier-counter{
    background-color: red ;
    color: #fff;
    font-size: 0.7rem;
    padding: 2px 5px;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    right: -10px;
    transform: translate(50%, -50%);
    align-items: center;
    align-content: center;

}
main{
    margin-left: 90px;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
   column-gap: 3px;
}
main .right-section{
    margin-top: 70px;
    margin-right: 80px;
}
.ring-name{
    color: #ddaf34;
}
.prix{
    font-size: 1.3rem;
    font-weight: 600;
    display: block;
    margin-bottom: 40px;

}
.buy-now-btn{
padding: 10px;
border-radius: 5px;
font-size: 1rem;
background-color: transparent;
border: 1px solid #ddaf34;
color: #ddaf34;
transition: background-color 0.5s , color 0.5s;
margin-bottom: 110px;

}
.buy-now-btn:hover {
background-color: #3e566e;

}
.social-media-icons i{
    margin-right: 15px;
    transition: 0.3s;
    font-size: 1.3rem;

}
.social-media-icons i:hover{
    opacity: 0.8;
    transform: scale(1.3);

}
.left-section img{
    margin-top: 70px;
    margin-left: 100px;
    height: 360px;
    filter: grayscale(20%);
    transition: .8s;
    margin-bottom: 50px;

}
.left-section img:hover{
    filter: grayscale(0%);
   transform: rotateZ(30deg) scale(1.1);
}
.previous-next-btn{
    margin-left: 400px;
}
.previous-next-btn button{
    padding: 6px;
    font-size: 1rem;
    border-radius: 5px;
    background-color: #ddaf34;
    color: #fff;
    border: none ;
    transition: 0.5s;
}
.previous-next-btn button:hover{
    opacity: 0.7;
}
footer{
    background-color:#ddaf34 ;
    color: black;
}